@CHARSET "UTF-8";
body{
	margin:0 auto;
	background:#CCC;
	}
.container{
		width: 100%;
		margin: 0 auto;
		height:0 auto;
}
.containerMenu{
	width: 1000px;
	margin: 0 auto;
	height: 45px;
	display: block;
}
.containerMenu .menu{
	width: 1000px;
	height: 40px;
	background: #FAF5F5;
	padding-top: 0px;
	margin: 0 auto;
	border: 1px solid #ECECEC;
	}
.containerMenu .menu ul{
	list-style:none;
	width:966px;
	}
.containerMenu .menu ul li a {
	float: left;
	margin-right: 10px;
	text-decoration:none;
	color:#666666;
	font-family:Arial MT;
	}
	.containerMenu .menu ul li  {
	color:#666666;
	font-family:Arial MT;
	margin-top: -3px;
	}
.meio{
	width: 988px;
	margin: 0 auto;
	background: #FFF;
	height: 800px;
	border: 2px solid #ECECEC;
	padding: 5px;
	}
 span{
		font-family:Arial;
		font-size:11px;
		color:#999;
	}